* {
  box-sizing: border-box;
}

h1 {
	font-family:Candara;
	font-size:30px;
	color:hsl(0,100%,25%) /*maroon*/;
	text-align:center;
	font-weight:bold;
	padding : 20px;
	margin: 10px;
}
	
h2 {
	font-family: Candara;
	font-size:24px;
	color:hsl(0,100%,25%) /*maroon*/;
	text-align:center;
	/*padding: 10px 15px;*/
}

h3{
	color: hsl(170,50%,30%) /*blue*/;
	font-weight: normal;
	text-align:center;
}

body{
	font-family:Calibri;
}

header{
	background: #FFF;
	height: 190px;
	position : fixed;	
	top:0px;
	width: 100%;
	z-index:5;
	border: 3px solid #FFF;
}


header .navigation{
	text-align: center;
	position:relative;	
}

header .navigation img{
	clear:left;
}

header .navigation ul{
	display: flex;
	justify-content: center;
}

header .navigation a{
	position:relative;
	float:none;
	font-family:Raleway, sans-serif;
	background: hsl(0,100%,25%) /*maroon*/;
	color: white;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border-radius : 3px;
	margin: 5px 0px;
	padding: 14px;
	border: 1px solid hsl(0,100%,25%) /*maroon*/;
}

header .navigation a:hover{
	background: #FFF;
	color: hsl(0,100%,25%) /*maroon*/;
}


#menu_principal {
	position:fixed;
	float: left;
	z-index:6;
	list-style: none;
	padding: 0px;
	margin: 0px;
} 

#menu_principal li {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

li {
	border-radius: 15px;
	padding: 10px 15px;
	text-align: center;
	margin: 0px 20px;
	vertical-align: middle;
}

#menu_principal li ul {
	position: absolute;
	left: -999em;
	border-style: solid;
	border-width: 1px 2px 2px;
	border-color: hsl(0,100%,25%);
	background: none;
	width: 20%;
	padding:0px;
	
}

#menu_principal li:hover ul{
	left: auto;
	min-height: 0;
}	

#menu_principal li ul a li{
	font-family:Raleway, sans-serif;
	text-decoration: none;
	border-radius : 0px;
	display: inline-block;
	padding: 10px;
	background: white;
	color: hsl(0,100%,25%);
	width:100%;	
	border-style: solid none none;
	border-width: 1px;
}

#menu_principal li ul li:hover{		
	background: hsl(0,100%,25%);
	color: #FFF;
}


#menu, #menu ul{			
	list-style: none;
	padding: 0px 0px;
	margin: 0px 0px;
}


#menu li ul{                      /*Ces machins sont surtout utiles pour les listes déroulantes, type roadtrip Lofoten*/
	position: absolute;
	left: -999em;
	border-style: solid;
	border-width: 1px 2px 2px;
	border-color: hsl(0,100%,25%);
	background: #FFF;
	flex-direction:column;
}

#menu li:hover ul{
	left: auto;
	min-height: 0;
}	


#menu li ul a{
	width:100%;
	margin:0px;
	background: none;
	padding:0px;
	color: hsl(0,100%,25%);
	text-transform: none;
	border-style: solid none none;
	border-width: 1px;
	border-radius:0px;
}

#menu li ul a:hover{
	background: hsl(0,100%,25%);
	color: #FFF;
}







.photo{
	position: relative;
	top:190px;
	overflow:hidden;
}

.content{
	position: relative;
	top: 200px;
	width:100%;
	padding-left:10%;
	padding-right:10%;
	display: flex;
	flex-wrap:wrap;
	flex: 1 1 auto;
	justify-content:space-evenly;
	align-items: center;
}

.content h2{
	width: 100%;
}

.bloc{
	width:50%;
}

.petit{
	width: 40%;
}
.petit p{
	width: -moz-max-content;
	width: max-content;
}

.grand{
	width: 50%;
	
}

.top{
	width: 100%;
	padding-bottom:5%;
}

.intro{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
}


.intro .element{
	width:16%;
	text-align: center;
	
}

.intro .element p{
	margin:auto;
	padding:10px 0px; 
}

.intro .element img{
	padding:10px 0px;

}


.programme{
	position: relative;
	top: 200px;
	width: 100%;
	padding-left:10%;
	padding-right: 10%;
	margin-top:70px;
	text-align: justify;
}

table{
	box-sizing: box-content;
	padding-left:10%;
	padding-right: 10%;
	width: 100%;
}

thead th{
	background: hsl(170,50%,30%) /*blue*/;
	color: #FFF;
	text-transform: uppercase;
	margin: 5px 10px;
}

th, td{
	padding:10px;
	text-align: center;
	border: 2px solid #FFF;
}

table td{
	/*background : rgba(192,192,192,0.7);*/
	background:hsl(197,100%,90%) /*rgba(190,213,254,0.8)*/;
}

.programme a {
	/*margin: 0px 20px;*/
	color: black;
	/*text-decoration: none;*/
}

.programme a:hover{
	font-weight: bold;
} 


.texte{
	position: relative;
	top: 200px;
	width: 100%;
	padding-left:10%;
	padding-right: 10%;
	margin-top:70px;
	text-align: center;
	
}
.texte p{
	text-align:justify;
}

.emph{
	text-align: center;
	color: hsl(170,50%,30%)  /*blue*/;
	font-weight: bold;
}

.center{
	text-align: center;
}

.texte_element{
	display: flex;
	align-items: center; 
	/*width:45%;*/
	vertical-align: middle;

	/* trouver comment faire pour diviser par le nombre d'élément plutôt que de mettre un % ! */

}
.texte_element p , .texte_element img{
	margin: 10px 15px;
}

.texte #legend {
	font-size:12px;
	font-style: italic;
	text-align: center;
}

:target:before {
	display: block;
	content: "";
	padding-top: 200px;
	margin-top: -200px;
}

#legende {
	font-style:italic;
	font-size: smaller;
	text-align: center;
}

footer{
	/*background:hsl(170,50%,30%) ;*/
	border-top: solid;
	border-top-color:hsl(170,50%,30%) ;
	/*color:white;*/
	position: relative;
	top:205px;
	font-size: smaller;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: start;
	justify-content: space-between;
	padding-left:20px;
	padding-right: 20px;
}
